.mySelect option[value="Bueno"]{ background-color: green; } 
.mySelect option[value="Malo"] { background-color: red; } 
.mySelect option[value="Mantenimiento"] { background-color: yellow; } 

.myRed{color:red;} 
.myBlack{color:black;}


#foto_usuario{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius:5%;
}

input::-webkit-input-placeholder {
    color:    #c00;
    font-style: italic;
}
input::-moz-placeholder {
    color:    #c00;
    font-style: italic;
}

.form-group.required .control-label:after { 
    color: #d00;
    content: "*";
    position: absolute;
    margin-left: 8px;
    top:7px;
}
